= provide :title, @blog.title

= breadcrumbs(@blog.category)

h1 = @blog.title
p.datetime = @blog.created_at

= md_to_html(@blog.content, { tables: true, fenced_code_blocks: true }, { filter_html: true })

= link_to t(:text_edit), edit_admin_blog_path(@blog) if signed_in?
