$font_color: #555555;
$link_hover_color: #e01090;
$border_color: #444;
$break_border_color: #eaeaea;

@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
body {
  color: $font_color;
  font-family:
    'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN',
    'HG明朝E',
    'ＭＳ Ｐ明朝',
    'ＭＳ 明朝',
    serif;
}

h2 {
  font-size: 24px;
  text-align: left;
  border-left: 5px solid $border_color;
  margin: 64px 0 24px 0px;
  padding: 10px 0 10px 10px;
}

a {
  color: $font_color;
  text-decoration: none;

  &:hover {
    color: $link_hover_color;
    text-decoration: underline;
  }
}

nav#breadcrumbs ol {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;

    &:before {
      content: " > ";
    }

    &:first-child:before {
      content: "";
    }
  }
}

#blog_list {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $break_border_color;

    h1 {
      line-height: 1.2;
      margin: 0;
    }
  }
}

span.date-time {
  font-size: 80%;
  text-align: left;
  color: #b8b8b8;
}

@media screen and (min-width: 768px) {
  $width: 768px;

  header, article {
    width: $width;
    margin: 0 auto;
  }
}
