$base_font_size: 18px;
$font_color: #555555;
$thin_font_color: #b8b8b8;
$link_hover_color: #e01090;
$border_color: #444;
$break_border_color: #eaeaea;
$pre_font_color: #e0e0e0;
$pre_background_color: #282c34;
$backquote_border_color: #d7d7d7;
$backquote_background_color: #eaeaea;

@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
body {
  color: $font_color;
  font-size: $base_font_size;
  font-family:
    'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN',
    'HG明朝E',
    'ＭＳ Ｐ明朝',
    'ＭＳ 明朝',
    serif;
}

h2 {
  font-size: 24px;
  text-align: left;
  border-left: 5px solid $border_color;
  margin: 64px 0 24px 0px;
  padding: 10px 0 10px 10px;
}

h3 {
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid $break_border_color;
  margin: 0 0 24px 0;
  padding: 15px 0 5px 0;
}

a {
  color: $font_color;
  text-decoration: none;

  &:hover {
    color: $link_hover_color;
    text-decoration: underline;
  }
}

nav#breadcrumbs ol {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;

    &:before {
      content: " > ";
    }

    &:first-child:before {
      content: "";
    }
  }
}

#blog_list {
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $break_border_color;

    h1 {
      line-height: 1.2;
      margin: 0;
    }
  }
}

article {
  h1 {
    font-size: 32px;
    margin: 0;
  }
}

span.date-time {
  font-size: 80%;
  text-align: left;
  color: $thin_font_color;
}

p {
  line-height: 32px;
}

pre {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  font-size: 80%;
  padding: 16px;
  word-break: normal;
  color: $pre_font_color;
  background: $pre_background_color;
}

blockquote {
  margin: 0;
  position: relative;
  padding: 16px;
  border: 3px solid $backquote_border_color;
  background-color: $backquote_background_color;
  z-index: 1;

  p {
    position: relative;
    z-index: 3;
  }

  &:before {
    content: '“';
    font-size: 1000%;
    line-height: 0.8em;
    font-family: 'Times New Roman', 'ＭＳ Ｐゴシック', sans-serif;
    color: #f0f0f0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

input, select, textarea {
  font-size: $base_font_size;
  width: 100%;
  margin-bottom: 24px;
}


@media screen and (min-width: 768px) {
  $width: 768px;

  header, article {
    width: $width;
    margin: 0 auto;
  }
}
